<!-- SIDEBAR -->
<div class="sidebar">
    <div class="sidebar-logo">
        <img src="../assets/images/logo1.png" alt="Comapny logo">
        <div class="sidebar-close" id="sidebar-close">
            <i class='bx bx-left-arrow-alt'></i>
        </div>
    </div>
    <div class="sidebar-user">
        <div class="sidebar-user-info">
            <img src="../assets/images/avatar.jpg" alt="User picture" class="profile-image">
            <div class="sidebar-user-name">
                trưởng nhóm
            </div>
        </div>
        <button class="btn btn-outline">
            <i class='bx bx-log-out bx-flip-horizontal'></i>
        </button>
    </div>
    <!-- SIDEBAR MENU -->
    <ul class="sidebar-menu">
        <li>
            <a href="home" class="active">
                <i class='bx bx-home'></i>
                <span>điều khiển dự án</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-area'></i>
                <span>Giới thiệu</span>
            </a>
        </li>
        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-user-circle'></i>
                <span>account</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="login">
                        sign in
                    </a>
                </li>
                
                
                <li>
                    <a href="">
                        Sign up
                    </a>
                </li>
                <li>
                    <a href="">
                        log out
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-category'></i>
                <span>task</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="tasklist">
                        list task
                    </a>
                </li>
                <li>
                    <a href="admin/addtask">
                        add task
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-category'></i>
                <span>project</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="projectlist">
                        list
                    </a>
                </li>
                <li>
                    <a href="admin/addproject">
                        add project
                    </a>
                </li>
            </ul>
        </li> 
        
        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-cog'></i>
                <span>settings</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="#" class="darkmode-toggle" id="darkmode-toggle">
                        darkmode
                        <span class="darkmode-switch"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>